/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: #0C0C0C;
    --primary-background: #4845e4;
    --secondary-h: #5722CD;
    --secondary-light-background-text: #F2F0FF;
    --button: #ED4385;
    --projects-bonus: #F3F6F9;
    --service-tegels: #9d9d9d;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto&display=swap');

/* ------------------------------- 2. Typography ----------------------------------- */

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
}

button {
    border-radius: 20px;
    background-color: var(--button);
    color: inherit;
    box-shadow: 2px 2px 10px rgba(30, 29, 96, 0.89);
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */


.outer-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    border: 2px dashed black;
   align-items: center;
}

.inner-container {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    border: 2px dashed orange;
    align-items: center;
    width: 1000px;
}

.image-wrapper {
    border: 2px dashed red;
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink: 1
}
 /* --------------- 3.1 Header ------------------------- */

header {
    background-color: var(--primary-background);
    color: white;

}
.header-navi a:active {
    text-decoration: none;
    color: inherit;
}

.header-navi {
    border: 2px dashed yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #F2F0FF;
    width: 100%;
    padding: 10px 30px;
}
.header-navi ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    padding: 0 10px;
    font-size: 20px;
    margin-right: 100px;
}
ul a {
    color: white;
}
.header-content-text {
    border: 2px dashed greenyellow;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    gap: 2rem;
    font-size: 18px;
}
.question-introduction{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header-button {
    border: 2px dashed greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.header-button button{
    padding: 15px 30px;
    font-size: 10px;
    border-radius: 30px;
    margin: 25px 0;
    border-style: none;
}

.header-img{
position: relative;
}

.squiggle_line_stripe{
    position: relative;
    bottom: -50px;
    scale: 70%;
}

/* --------------- 3.2 Introduction ------------------- */

.introduction {
display: flex;

}

.introduction-text {
    color: var(--secondary-h);
    justify-content: space-evenly;
    text-align: center;
    gap: 35px;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--secondary-h);
}
.introduction-text p{
color: var(--primary-text);
}

/* --------------- 3.2 Projects ------------------- */
section {
    background-color:var(--projects-bonus);
    border: 2px dashed orange;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row
}
.flex-container>div {
    text-align: left;
    margin: 30px;
}
.flex-reverse{
    flex-direction: row-reverse;
}
.rolling-stone {
flex-grow: 2;
    width: 200px;
    height: 200px;

}
.work-image {
    width: 100%;
    min-width: 200px;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.squiggle_line {
    margin: 50px 0;
}
.p-view-project {
    margin: 50px 0;
    link: pointer;
    font: small-caps bold 12px/1 sans-serif;
}

/* --------------- 3.3 Services articles------------------- */
.services-section {
    display: flex;
}

.service-article img {
    width: 50px;
    margin: 16px 0;
}

.service-article {
    flex-basis: 400px;
    text-align: left;
    border: 2px solid var(--secondary-h);
    box-shadow: 0.3em 0.8em 1.2em rgba(204, 204, 204, 0.70);
    flex-grow: 5;
    margin: 20px;
    padding:  50px;
}


.inner-container__service-grid {
    flex-basis: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin: 0 20px;
    border: 2px dashed orange;
    padding: 100px 170px 100px 170px;
}
.service-article h4{
    color: var(--secondary-h);
    margin-bottom: 10px;

    font-size: 30px;
}
.inner-container__service-grid p {
    color: var(--service-tegels);
}
/* --------------- 3.4 Contact form------------------- */

.contact-form {
    background-color: var(--primary-background);
    color: white;
    border: 2px dashed greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 2rem;
}

form div {
    width: 100%;
    border: 2px dashed green;
}
fieldset input {
    width: 100%;
    height: 4em;
    margin-bottom: 30px;
    padding-left: 20px;
}

fieldset textarea{
    min-width: 70em;
    min-height: 300px;
    margin-bottom: 30px;
    padding-left: 20px;
}
fieldset label {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}
textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

fieldset div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send-button {
   border-radius: 30px;
    border: 2px dashed greenyellow;
    width: 20%;
    padding: 20px 50px;
    align-items: center;
}


fieldset {
    border: 2px dashed red;
    width: 100%;

}
/* --------------- 3.5 Footer ------------------- */
footer {
    text-align: center;
    background-color: var(--primary-text);
    color: white;
    padding: 40px;
    font-size: 16px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */